*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.slick-arrow::before{
  color: #252525 !important;
}
.slick-next, .slick-prev {
  top: 100px;
}